/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #22c55e;
  --color-accent: #22c55e;
  --color-background: #0F172A;
  --primary: oklch(0.586 0.19 145.71);
}

body {
  background-color: var(--color-background);
  color: #F8FAFC;
}
